#footer {
    width: 100%;
    height: 500px;
    background-color: #000;
    .container {
        .content {
            .title {}
            ul {
                li {
                    a {
                        h4 {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}