#section2 {
    width: 100%;
    height: 100%;
    background-color: #e4e5cc5e;
    .container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        .content {
            padding: 100px 0;
            width: 100%;
            height: 100%;
            .img-box {
                width: 100%;
                height: 100%;
                // ul {
                //     width: 100%;
                //     display: flex;
                //     align-items: end;
                //     justify-content: center ;
                //     position: relative;
                //     li {
                //         width: 100%;
                //         margin: 0 10px;
                //         img {
                //             width: 100%;
                //         }
                //         &:nth-child(1){
                //             // width: auto;
                //             // position: relative;
                //             // bottom: 200px;
                //             // left: 290px;
                //             >img {
                //                 transform: translateY(-200px);
                //                 width: 220px;
                //             }
                //         }
                //         &:nth-child(2){
                //             // width: auto;
                //             img {
                //                 width: 500px;
                //             }
                //         }
                //         &:nth-child(3){
                //             // width: auto;
                //             img {
                //                 width: 300px;
                //                 height: 400px;
                //             }
                //         }
                //     }
                // }

                display: flex;
                align-items: center;;
                .img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}